
<h1 id="leaderboard-title">Starcraft 2 Grandmaster Leaderboard</h1>
<br>
<br>

<div class="center" ng-hide="unloaded">
  <input type="text" class="" ng-model="searchText.character.clanTag" placeholder="Filter by Clan Tag">
  <input type="text" class="" ng-model="searchText.character.displayName" placeholder="Filter by Player Name">
  <input type="text" class="" ng-model="searchText.favoriteRaceP1" placeholder="Filter by Race">

</div>

<table class=center id="ladder-table" ng-hide="unloaded">
  <thead>
    <th class="space">

    </th>
    <th>
      Player
    </th>
    <th>
      Favorite Race
    </th>
    <th>
      Wins
    </th>
    <th>
      Losses
    </th>
    <th>
      Score
    </th>

  </thead>
  <tbody id="player-container">
    
    <tr ng-repeat="player in ladderCtrl.players | filter: searchText">
      <td class="space">

      </td>
      <td class="link">
        <a href="{{player.character.profilePath}}">{{ player.character.clanTag ? ('['+player.character.clanTag+']') : "" }}{{player.character.displayName}}</a>
      </td>
      <td>
        {{player.favoriteRaceP1}}
      </td>
      <td>
        {{player.wins}}
      </td>
      <td>
        {{player.losses}}
      </td>
      <td>
        {{player.points}}
      </td>
    </tr>
  </tbody>
</table>

<div class="center loading" ng-show="unloaded">
  <h2>Loading, please stand by</h2>
  <img src="/images/SiegeTank2.gif" alt="Loading..." />
</div>
