html, body{
  min-height: 100vh;
  margin: 0;
  background: url("/images/bg-repeat.jpg")  center top repeat-y;
}

#leaderboard-title{
  text-align: center;
    color: white;
}



#game-type-list{
  border-radius: 5px;
  width: 75%;
  margin: 0 auto;
  background-color: #000d3e;
  padding: 5px;
  padding-bottom: 15px;
  box-shadow: 0 0 1px 3px #000929 inset;
}

#match-list{
  border-radius: 5px;
  width: 75%;
  margin: 0 auto;
  background-color: #000d3e;
  padding: 5px;
  box-shadow: 0 0 1px 3px #000929 inset;
}

.span-large{
  text-align: left;
  width: 50%;
  display: inline-block;
  margin: 0;
}

.span-small{
  text-align: right;
  width: 25%;
  display: inline-block;
  margin: 0;
}

.center{
  margin: 0 auto;
  text-align: center;

}

.game-type-card{
  display: inline-block;
  padding: 5%;
  background-color: #071354;
  color: #83aed4;
  text-align: center;
  margin: 1px;
  border-radius: 3px;
}

.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#profile-image{
  height: 90px;
  width: 90px;
}

.portrait{
  position: relative;
  left: 10px;
  top: -10px;
}

#portrait-frame{
  position: relative;
  z-index: 10;
  left: 0px;
  top: 0;
  left : 0px;
  height: 130px;
  width: 141px;
  background: url("/images/frame.png") no-repeat;

}

#picture-holder{
height: 110px;
width: 100px;
display: inline-block;
margin: 0;
background-color: #000d3e;
}

#name-holder{
  margin-top: 2px;
  display:inline-block;
  padding-right: 10px;
  padding-left: 20px;
  margin-left: -5px;
  height: 110px;
  background-color: #000d3e;
  border-radius: 10px;
  border: 1px solid #082b6f;
}

.top-div{
  vertical-align: middle;
}

.content{
  margin:0;
  border: 0;
  padding:10px;
  height: 100%;
  color: #83aed4;
}


a{
  color: #00D683;
}

a:hover{
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.text{
  width: 75%;
}

.box-label{
  text-align: left;
}

#player-container{
  margin: 0 auto;
  background-color: #020a3c;
  box-shadow: 0 0 1px 3px #000929 inset;
}

.player-item{
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid grey;
}

.player-item:hover{
  color: #83aed4;
  background-color: #000525;
}

table{
  border-collapse: collapse;
  border: 0;
  display: table;
  border-color: grey;
  border-radius: 5px
}
td {
    padding: 10px;
    border-bottom: 1px solid #00213e;
    text-align: right;
}
.link{
  text-align: left;
}
thead{
  padding:10px;
  border-bottom: 1px solid #00213e;
    background-color: #000525;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
th{
  padding:10px;
  border-bottom: 1px solid #00213e;

}
tr{
    display: table-row;
    vertical-align: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
tr:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#ladder-table tr:hover{
  background-color: #000525;
}

.space{
  width:20px;
}

.error{
  width: 100%;
  text-align: center;
}

@media(max-width: 500px){
  #portrait-frame{
    left: 30px;
  }
  #picture-holder{
    margin-left: -55px;
    padding: -70px;
    width: auto;
  }
  #name-holder{
    padding-left: 0;
    margin-right: -50px;
  }

}
